.App {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

.wrapper {
  width: 80%;
  margin: 0 auto
}

.card {
  width: 300px;
  border: 1px solid black;
  border-radius: 10px;
  line-height: 2rem;
}